---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- <script
      type="text/javascript"
      id="mapmyvisitors"
      src="https://mapmyvisitors.com/map.js?d=Y0VnsvtFgOVQQvVv3UWCg8-n703eo5IBpOsBfpMFS14&cl=ffffff&w=a">
    </script> -->

   <div class="live-traffic-widget">
  <script
    type="text/javascript"
    src="https://cdn.livetrafficfeed.com/static/widgets/live.js?bc=ffffff&amp;tc=000000&amp;brd1=2853a8&amp;lnk=135d9e&amp;hc=ffffff&amp;hfc=2853a8&amp;nc=19ff19&amp;vv=240&amp;tft=10&amp;ro=0&amp;res=0">
  </script>

  <noscript>
    <a href="https://livetrafficfeed.com">Live Traffic Stats</a>
  </noscript>
</div>

    

  </body>
</html>
